*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  background-color: #f3f3f3;
  color: #444;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.login {
  display: flex;
}

.login__input {
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  text-align: center;
  font-size: 1.6rem;
  width: 12rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  transition: all 0.3s;
  /* This is for noncompatible browser */
  font-family: inherit;
}

.login__input::placeholder {
  color: #bbb;
}

.login__input:focus {
  outline: none;
  border-color: #ccc;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  color: #777;
}

/* Main */
.app {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
}

.balance {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

.movements {
  grid-column: 1 / 2;
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10rem;
  padding: 0.1rem 1rem;
  margin-right: 2rem;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

.summary {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
}

.operation {
  grid-column: 2 / 3;
}

.operation--transfter {
}

.operation--loan {
}

.operation--close {
}

.logout-timer {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
